{% extends "pawconnect/base.html" %}
{% load static %} 
{% block info %}
    <div class="navigation">
        <a href="{% url 'my_profile' %}" id="id_nav_profile">{{user.first_name}} {{user.last_name}}</a>
    </div>
    <div class="navigation">
        <a href="{% url 'home' %}" id="id_nav_home_page">Home</a>
        <a href="{% url 'global_stream' %}" id="id_nav_global_stream">Global</a>
        <a href="{% url 'follower_stream' %}" id="id_nav_follower_stream">Follower</a>
		<a href="{% url 'my_chats' %}" id="id_nav_my_chats">My Chats</a>
        <a href="{% url 'marketplace' %}" id="id_nav_my_shopping">My shopping</a>
        <a href="{% url 'login' %}" id="id_nav_logout">Logout</a>
    </div>
{% endblock %}

{% block content %}
    <h2 id="id_page_name">Community Stream</h2>

    <form action="{% url 'global_stream' %}" method="post" >
        <div id="new_post">
            <label id="id_post_label" for="id_post_input_text">New Post: </label>
            <textarea type="text" id="id_post_input_text" name="post" autofocus></textarea>
            <button id="id_post_button" type="submit">Post</button>
        </div>
    {% csrf_token %}
    </form>
    <div id="error"></div>
    <div id="post-content"></div>
    <script src="{% static 'pawconnect/pawconnect.js' %}" type="text/javascript"></script>
    <script>
        const myUserName = "{{ request.user.username }}"

        const getGlobalURL = "{% url 'get-global-stream' %}"

        const addCommentURL = "{% url 'add-comment' %}"

        var requestUserId = "{{ request.user.id }}"
		
		const myProfileUrl = "{% url 'my_profile' %}"
		const userProfileUrlTemplate = "{% url 'other_user' '000' %}".replace('000', '')

        // Call getList() as soon as page is finished loading
        // window.onload = getPost;
		document.addEventListener('DOMContentLoaded', function() {
		    getPost();
		    setInterval(getPost, 5000);
		});
    </script>

{% endblock %}