{% extends "pawconnect/base.html" %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    {% load static %}
    <h2>Order Summary</h2>
    <link href="{% static 'pawconnect/marketplace.css' %}" rel="stylesheet" type="text/css">
</head>
<div class="page-container">
	<p>Order ID: {{ order.id }}</p>
	<p>Order Date: {{ order.created_at }}</p>

	<table>
		<thead>
			<tr>
				<th>Item</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			{% for item in order.items.all %}
			<tr>
				<td>{{ item.product.title }}</td>
				<td>{{ item.quantity }}</td>
				<td>${{ item.price }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<p><strong>Total: </strong>${{ order.get_total_cost }}</p>
</div>
<a href="{% url 'marketplace' %}" class="btn-custom">Return to Marketplace</a>
{% endblock %}